/*Global*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/*Actual view*/
.top-bar {
    width: 100vw;
    height: 52px;
    background-color: #343434;
    position: sticky;
    z-index: 10;
}

.pageheader {
    width: 100vw;
    padding: 64px 20px 12px 40px;
}

.pagefooter {
    width: 100vw;
    height: 84px;
    background-color: #ffffff;
    box-shadow: 0px 0px 36px rgba(29, 36, 38, 0.08);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

/*main area*/
.invoice-edit-area {
    width: 100vw;
    padding: 12px 20px 20px;
    display: grid;
    grid-template-areas: "panel-left panel-right";
    grid-template-columns: 730px auto;
    gap: 20px;
}
/**--left panel--**/
.panel-left {
    filter: drop-shadow(0px 3px 8px rgba(29, 36, 38, 0.04));
    border-radius: 2px;
    border: 1px solid #eeeeee;
    overflow: hidden;
}

.doc-view-header {
    background-color: #ffffff;
    height: 96px;
}

.doc-view {
    padding: 20px;
    background-color: #444444;
}

.invoice-doc {
    width: 690px;
}

/**--right panel--**/

.panel-right {
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    height: 100%;
}

.tab-area {
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #eeeeee;
}

/**----dragging section----**/

.board-layout {
    padding: 20px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 16px;
}

.list-layout {
    display: grid;
    grid-gap: 10px;
}
.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
}
.board-lists {
    display: grid;
    grid-auto-columns: 197px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 420px;
}

.board-list {
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 12px;
    /* Chrome use a fixed height */
    height: 420px;
    padding: 10px;
}

.board-list:hover {
    border: 1px solid #368bc2;
    transition: 200ms ease-in-out;
}

#list1:hover {
    border: 1px solid #afafaf;
    transition: 200ms ease-in-out;
}

.list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
}

/**-----drag-card-----**/
.card {
    background-color: #f6f6f6;
    display: flex;
    border-radius: 2px;
    box-shadow: 0px 3px 8px rgba(29, 36, 38, 0.04);
    padding: 10px 8px;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

.card.dragging {
    box-shadow: 0px 10px 24px rgba(29, 36, 38, 0.12);
}

.card:hover {
    background-color: #ffffff;
    transition: 300ms ease-in-out;
}

.drag-icon {
    width: 16px;
    margin-right: 8px;
}

/*Dragula*/

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    background: #AFAFAF;
    color:#AFAFAF;
}
